.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}

.headerText h1{
    text-align: left;
    font-size: 50px;
}

.headerImage img{
    width: 800px;
}
.navBtn{
    text-align: left;
    background-color: black;
    width: 100px;
    padding: 15px 30px;
    border-radius: 10px;
}

.navBtn a{
    text-decoration: none;
    color: white;
}

.courseSection h2{
    margin-top: 50px;
    font-size: 40px;
}

.courseContent{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px;

}

@media screen and (max-width: 1440px) and (min-width: 376px) {
    .headerContent{
        display: flex;
        flex-direction: column;
    }
    .headerText h1{
        text-align: center;
        margin: 0 auto;
    }
    .headerImage img {
        width: 500px;
    }
    .navBtn{
        display: block;
        margin:15px auto;
    }
    .courseContent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}